body {
 margin: 0px;
 background: #E5E5E5;
}

.wrapper {
    width: 448px;;
    height: auto;
    border-top: 4px solid #101214;
    margin: 20px auto;
    padding: 34px 38px 38px 38px;
    background: #FFFFFF;
}
a.buttons {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px;
    color: #555555;
    width:120px;
    font-size: 12px;
    text-align:left;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 2px;
    vertical-align: middle;
    text-decoration:none;
}
a.buttons:hover, a.bot8:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}


@media screen and (max-width: 736px) {
    .wrapper {
        width: 220px;
        padding: 10px 10px 10px 10px;;
    }

    .info {
        order: 1;
    }

    .title__avatar {
        width:100% !important;
        justify-content: center;
        margin:0px 0px 0px 0px !important;
    }
    .xp{

        Width: 220px;
        order: 2;
    }
    .title__fullname {
        text-align: center;
    }
    .info__title {
        width: 220px;
        text-align: center;
    }
    .title{
        width: 220px;
    }
    
    .infos__heading-title {
        padding-top: 10px !important;
    }
    .info{
        text-align: center;
        min-width: 218px;
        margin-bottom: 15px;
    }
    .title__fullname {
        min-width: 220px;
    }
}
/* title */
.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title__fullname {
    Width: 197px;
    Height: 85px;
}
.title-size{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 115%;
    color: #101214;
}
.title-size-post {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 157%;
    font-size: 17px;
}
/*  */

/* avatar  */
.title__avatar {
    display: flex;
    width: 140px;
    margin:0px 0px 10px 0px;
}
.avatar__logo{
    border-radius: 30px; 
    border: 1px solid rgb(225, 213, 233); 
    width: 72px;
    height: 72px;;
}
/*  */


/* Content */
.content {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.experience {
    display: flex;
    flex-direction: column;
}
.education{
    display: flex;
    flex-direction: column;
}

.xp{

    Width: 290px;;
}

/*  */

/* Infos */
.info {
    width: 140px;
}
.infos__heading-title {
    padding-top: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 160%;
    color: #73808D;
}
.infos__item {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 160%;
    color: #73808D;
}
.info__title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 160%; 
    color: #73808D;

}
/*  */


a{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 160%;
    color: #73808D;
    text-decoration: none;
}


.experience-list {
    padding-bottom: 15px;
}
.education-list {
    padding-bottom: 15px;
}

.xp-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 233%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}
.experience-list__position {
    color: #101214;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 160%;
}
.experience-list__enterprise-name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;   
    font-size: 11px;
    line-height: 160%;
    color: #101214;
}
.experience-list__date {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 200%;
    color: #73808D;
}
.experience-list__info {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 160%;
    color: #101214;
}
.education-list__position {
    color: #101214;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 160%;
}
.education-list__school-name {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;   
    font-size: 11px;
    line-height: 160%;
    color: #101214;
}
.education-list__date {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 200%;
    color: #73808D;
}


