body {
 margin: 0;
 background: #E5E5E5;
}
.experience {
    display: flex;
    flex-direction: column;
}
.education{
    display: flex;
    flex-direction: column;
}
.wrapper {
    width: 595px;
    height: auto;
    border-top: 4px solid #101214;
    display: flex;
    margin: 20px auto;
    padding-top: 24px;
    align-content: center;
    justify-content: center;
    background: #FFFFFF;
}
.content-right__avatar {
    margin-bottom: 10px;
}
.container {
    width: 499px;
    display: flex; 
    justify-content: space-between;
}
.logo{
    width: 72px;
    height: 72px;
    left: 407px;
    top: 36px;
    background: url(1H_7AxP0.jpg);
    filter: drop-shadow(0px 2px 4px rgba(16, 18, 20, 0.08));
}
.content-right__infos {
    width: 140px;
    height: 558px;
    top: 140px;
    left: 407px;
}
.infos__heading-title {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 18px;
    color: #73808D;
    padding-top: 25px;
}
.infos__item {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #73808D;
}
.experience-list {
    padding-bottom: 15px;
}
.education-list {
    padding-bottom: 15px;
}
.content-left__xp{
    Width: 335px;
    Height: 630px;
    Top: 140px;
    Left: 48px;

}
.title-size{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #101214;
}
.title-size-post {
    font-family: Arial;
    font-style: normal;
    line-height: 28px;
    font-size: 18px;
}
.content-left__title {
    Width: 197px;
    Height: 60px;
    Top: 48px;
    Left: 48px;
    margin-bottom: 15px;
}
.xp-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}
.experience-list__position {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #101214;
}
.experience-list__enterprise-name {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #101214;
}
.experience-list__date {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    line-height: 18px;
    color: #73808D;

}
.experience-list__info {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #101214;

}
.education-list__position {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 18px;
    color: #101214; 
}
.education-list__school-name {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    color: #101214;
}
.education-list__date {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 18px;
    color: #73808D;
}
.infos-title {
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 18px;
color: #73808D;
}